/* leave it as it is for now */
.nav-header {
  display: flex;
  height: 6rem;
  margin-top: 2.5rem;
  justify-content:space-between;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.05); */
}

.logo {
  width: clamp(2.5rem, 10vw, 3rem);
  height: auto;
  max-width: 100%;
  margin-left: 64px;
}
.primary-navigation{
  display: flex;
  justify-content: center;
}
nav {
  height:inherit;
  width: 51%;
  /* width: 46rem; */
  background-color: rgba(255, 255, 255, 0.05);
  /* backdrop-filter: blur(10px); */
  backdrop-filter: url(filters.svg#filter) blur(30px) saturate(100%);
}
.nav-text {
  font-family: var(--font-secondary);
  font-size: var(--font-size-8);
  line-height: var(--line-height-8);
  letter-spacing: var(--letter-spacing-8);
  color: var(--color-white);
}
.nav-list {
  counter-reset: count -1;
  display: flex;
  gap: 48px;
}

.nav-list li {
  counter-increment: count;
  display: flex;
  align-items: center;
  height: 6rem;
  gap: 13px;
  box-shadow: inset 0 -2.5px 0 transparent; /* Default: invisible */
  transition: box-shadow 0.2s ease-in-out;

}
.nav-list li:hover,
.nav-list li:focus {
  cursor: pointer;
  box-shadow: inset 0 -2.5px 0 var(--color-white-50);
}
.nav-item.active li {
  box-shadow: inset 0 -2.5px 0 var(--color-white) /* Active route indicator */
}
.nav-list a {
  text-decoration: none;
  color: var(--color-white);
}
.nav-list li::before {
  content: counter(count, decimal-leading-zero);
  font-weight: bold;
}

